* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(../image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

li {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 380px;
    border-radius: 15px;
    background-color: rgba(80, 78, 78, 0.671);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100%;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #5db434;
    font-size: 3rem;
    margin-bottom: 10px;
}

.add-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    text-align: center;
    outline: none;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgb(7, 7, 7);
    padding: 5px 10px;
    font-size: 1.2rem;
    color: rgb(236, 236, 236);
}

.valueContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.span {
    margin-left: 10px;
}

.valuebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    border-radius: 20px;
}

.valuebox div {
    margin: 5px 0;
}

.valuelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 20px;
}

.valuebox input:checked + span {
    color: rgb(104, 102, 102);
    text-decoration: line-through black;
}

.delete {
    width: 20px;
    height: 20px;
}

.delete img {
    width: 100%;
    height: 100%;
}